{% extends 'ProductBundle:Admin:base.html.twig' %}

{% block content %}
    <h1>Seo</h1>
    <hr>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ seo.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ seo.description }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('seo_index') }}" class="btn btn-sm btn-default">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('seo_edit', { 'id': seo.id }) }}"
                class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
