{% extends 'ProductBundle:Admin:base.html.twig' %}

{% block content %}
    <h1>Image</h1>
    <hr>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Désignation</th>
                <td>{{ image.designation }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/images/' ~ image.url) }}" alt="{{ image.alt }}"></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_image_index') }}" class="btn btn-sm btn-default">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('admin_image_edit', { 'id': image.id }) }}"
                class="btn btn-sm btn-warning">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
